html{
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #000000;
    background: -webkit-linear-gradient(90deg, #0a0913, #000);
    background: linear-gradient(90deg, #0a0913, #000);
    font-family: 'Roboto Mono', monospace;
}

* {
    padding: 0px;
    margin: 0px;
}

a {
    color: #6fff6b;
}

.sketch-link-container-wrapper{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
}

.sketch-link-container{
    display: flex;
    margin: 1em;
}


a.sketch-link {
    font-size: 2em;
    text-decoration: none;
}

.back-link-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1em;
}

a.back-link{
    font-size: 2em;
    text-decoration: none;
}

.show-off{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.canvas-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    background: #000000;
    background: -webkit-linear-gradient(90deg, #0a0913, #000);
    background: linear-gradient(90deg, #0a0913, #000);
    padding: 10px;
}

.p5Canvas {
    display: flex;
    border: 1px #9400ff solid;
    transition: .35s cubic-bezier(.55,0,.1,1);
}

.p5Canvas:hover{
    box-shadow: 1px 3px 15px rgba(63, 9, 215, 0.75);
}

