#perlin-random-ellipse {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    height: 400px;
}

#perlin-graph {
    height: 400px;
    margin: 10px;
}

#perlin-graph-2d {
    margin: 10px;
}